* {
  margin: 0px;
  padding: 0px;
}
html {
  background: #fff;
  color: #3c3c3c;
}
body {
  font: 12px/1.5 "微软雅黑",Helvetica,Arial,sans-serif;
}
.title {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #f5f5f5;
  border-bottom: 1px solid #d1d1d1;
}
.head {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 50px;
}
.logo {
  float: left;
  padding-top: 8px;
  height: 35px;
  width: 88px;
  background: url('./picture/logo.png') 0 8px no-repeat;
}
.headbar {
  float: left;
  padding: 10px 0 0 30px;
  width: 400px;
  height: 30px;
}
.head>ul>li{
  float: left;
  padding: 0 10px;
  width: 60px;
  text-align: center;
  list-style: none;
}
.headbar>li {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  line-height: 30px;
}

.headbar>li>a {
  padding: 3.5px 10px 3.5px 10px;
  color: #000;
  text-decoration: none;
}
.headbar>li>a:hover {
  color: #fff;
  background: #f70;
  border-radius: 3px;
}
.zhibo {
  color: #fff;
  background: #f70;
  border-radius: 3px;
}
.triangle1 {
  position: absolute;
  right: 0;
  top: 12px;
  display: inline-block;
  border-top: 9px solid #b6b6b6;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-bottom: 0 none;
  -webkit-transition: all 0.5s ease-in-out;
}
.triangle4 {
  position: absolute;
  top: 32px;
  left: 32px;
  display: none;
  width: 14px;
  height: 14px;
  background: url('./picture/arrow-top.png') no-repeat;
}
.fenleicontent {
  z-index: 500;
  position: absolute;
  top: 51px;
  display: none;
  padding: 10px 15px 12px;
  width: 247px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0px;
  box-shadow: .2px .2px 0px;
}
.fenleicontent.active {
  display: block;
}
.fenleicontent>p {
  margin: 8px 0 4px;
  color: #444;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
.fenleicontent>ul {
  overflow: auto;
  width: 250px;
}
.fenleicontent>ul>li {
  float: left;
  width: 60px;
  margin-right: 18px;
  padding: 0 5px 5px 0;
  list-style: none;
}
.fenleicontent>ul>li>a {
  display: block;
  padding: 0;
  width: 80px;
  height: 24px;
  background: #ececec;
  border: none;
  font-size: 12px;
  line-height: 24px;
  color: #797979;
  text-align: center;
}
.fenleicontent>ul>li>a:hover {
  background-color: #f70;
}
.all>a {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  height: 24px;
  width: 247px;
  background: #f70;
  line-height: 24px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.all>a:hover {
  background-color: #f44600;
}
.hot {
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 12px;
  background: url('./picture/hot-ico.png');
}
.headnav {
  display: inline-block;
  height: 43px;
  width: 485px;
  margin-left: 180px;
}
.headnav.active {
  margin-left: 160px;
}
.searchbar, .search, .searchimg {
  float: left;
}
.searchbar {
  margin: 13px 25px 0 0;
  height: 22px;
  width: 148px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.searchbar.active {
  width: 168px;
}
.search {
  padding: 0 5px;
  width: 116px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  background: 0 0;
  border: none;
  outline: 0;
}
.searchimg {
  float: right;
  width: 18px;
  height: 20px;
  background: url('./picture/head-icos.png') -500px -500px no-repeat;
  background-position: 0 -76px;
}
.searchbar, .history, .focus, .download, .account {
  display: inline-block; 
  vertical-align: top;
}
.history, .focus, .download {
  position: relative;
  padding: 15px 17px 0 0;
}
.account {
  position: relative;
  padding: 12px 15px 0 0;
}
.historyimg, .focusimg, .downloadimg {
  display: inline-block;
  width: 18px;
  height: 20px;
}
.historyimg, .focusimg, .downloadimg {
  background: url('./picture/head-icos.png') -500px -500px no-repeat;
}
.historyimg {
  background-position: 0 1px;
}
.historyimg.active {
  background-position: -23px 1px;
}
.focusimg {
  background-position: 0 -24px;
}
.focusimg.active {
  background-position: -23px -24px;
}
.downloadimg {
  background-position: 0 -51px;
}
.downloadimg.active {
  background-position: -23px -51px;
}
.accountimg {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  border: none;
  background: url('./picture/13_small.jpg') no-repeat center;
  background-size: 26px;
}
.historytxt, .focustxt, .downloadtxt {
  vertical-align: top;
  line-height: 20px;
  color: #868686;
  cursor: pointer;
}
.historytxt.active, .focustxt.active, .downloadtext.active, .accounttxt.active {
  color: #f70;
}
.accounttxt {
  display: inline-block;
  max-width: 85px;
  line-height: 26px;
  font-size: 12px;
  vertical-align: top;
  color: #868686;
  cursor: pointer;
}
.triangle2, .triangle3 {
  position: absolute;
  right: 6px;
  top: 23px;
  display: inline-block;
  border-top: 5px solid #868686;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  border-bottom: 0 none;
  -webkit-transition: all 0.5s ease-in-out;
}
.triangle1.active, .triangle2.active, .triangle3.active {
  -webkit-transform: rotate(180deg);
}
.triangle5, .triangle6, .triangle7, .triangle8 {
  position: absolute;
  top: 42px;
  right: 20px;
  display: none;
  width: 14px;
  height: 14px;
  background: url('./picture/arrow-top.png') no-repeat;
}
.triangle5.active, .triangle6.active, .triangle7.active, .triangle8.active {
  display: block;
}
.historycontent {
  z-index: 500;
  display: none;
  margin-top: 7px;
  width: 310px;
  border: 1px solid #dfdfdf;
  box-shadow: .2px .2px 0px;
}
.historycontent.active {
  display: block;
}
.historycontent>li {
  display: block;
  padding: 5px 16px 4px 24px;
  height: 51px;
  width: 270px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  list-style: none;
}
.historyhead {
  display: block;
  width: 258px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #555;
}
.historyhead:hover {
  color: #f70;
}
.headico1, .headico2, .headico3 {
  float: left;
  padding: 0 2px 0 18px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #a0a0a0;
}
.headico1 {
  width: 68px;
  background: url('./picture/head-pericos.png') 0 -11px no-repeat;
}
.headico2 {
  width: 90px;
  background: url('./picture/head-pericos.png') 0 -29px no-repeat;
}
.headico3 {
  width: 48px;
  background: url('./picture/head-pericos.png') 0 -29px no-repeat;
}
.focuscontent {
  z-index: 500;
  display: none;
  margin-top: 7px;
  margin-left: 30px;
  width: 310px;
  text-align: center;
  border: 1px solid #dfdfdf;
  box-shadow: .2px .2px 0px;
  background-color: #fff;
  cursor: pointer;
}
.focuscontent.active {
  display: block;
}
.focustitile {
  display: block;
  width: 310px;
  background: #eeeff2;
  border-bottom: 1px solid #d9dadc;
  text-align: left;
  font-size: 14px;
  text-indent: 15px;
  line-height: 36px;
}
.focuslist {
  display: block;
  padding: 20px 0;
  height: 138px;
  width: 310px;
  text-align: center;
  font-size: 14px;
}
.focuslist>img {
  display: block;
  margin-left: 106px;
  margin-bottom: 15px;
  height: 82px;
  border: none;
}
.downloadcontent {
  z-index: 500;
  display: none;
  margin-top: 7px;
  margin-left: 200px;
  width: 174px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: .2px .2px 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}
.downloadcontent.active {
  display: block;
}
.downloadcontent>a {
  display: block;
  width: 171px;
  height: 42px;
  border-left: 3px solid transparent;
  border-bottom: 1px solid #e8e8e8;
  line-height: 42px;
  font-size: 14px;
  text-align: center;
  color: #444;
}
.downloadcontent>a:hover {
  border-color: #f70;
  color: #f70;
}
.accountcontent {
  z-index: 500;
  display: none;
  margin-top: 7px;
  margin-left: 300px;
  width: 216px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: .2px .2px 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.accountcontent.active {
  display: block; 
}
.accountcontent>span {
  display: block;
  position: relative;
  padding: 10px 34px;
  border-bottom: 1px solid #e8e8e8;
  border-left: 3px solid transparent;
}
.accountcontent>span:hover {
  border-color: #f70;
}
.accountcontent>span>a {
  cursor: pointer;
}
.usericon {
  padding: 5px 21px;
  height: 43px;
  width: 174px;
  border-bottom: 2px solid #f70;
  font-size: 22px;
  font-weight: 400;
  color: #444;
  line-height: 42px;
  text-align: center;
}
.accountcontent>span {
  display: block;
  position: relative;
  padding: 10px 34px;
  border-left: 3px solid transparent;
}
.accountcontent>span>a {
  display: block;
  padding-left: 44px;
  line-height: 21px;
  font-size: 14px;
  color: #444;
  text-align: left;
}
.usericon1 {
  background: url('./picture/head-pericos.png') 0 -64px no-repeat;
}
.usericon2 {
  background: url('./picture/head-pericos.png') 0 -84px no-repeat;
}
.usericon3 {
  background: url('./picture/head-pericos.png') 0 -180px no-repeat;
}
.usericon4 {
  background: url('./picture/head-pericos.png') 0 -105px no-repeat;
}
.usericon5 {
  background: url('./picture/head-pericos.png') 0 -125px no-repeat;
}
.left {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background: #2c2c2c;
}
.left.active {
  display: block;
}
.smallnav {
  margin-top: 51px;
  height: 328px;
  width: 50px;
}
.line {
  height: 0;
  font-size: 0;
  border-bottom: 1px solid #323232;
  border-top: 1px solid #323232;
}
.smallnav>a, .leftbottom>a {
  display: block;
  padding: 18px 0;
  height: 44px;
  width: 50px;
  border-bottom: 3px #fff;
  color: #c6c6c6;
  text-align: center;
}
.smallnav>a:hover, .leftbottom>a:hover {
  color: #fff;
  background: #1b1b1b;
}
.lefticon1, .lefticon2, .lefticon3, .lefticon4, .lefticon5 {
  display: block;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  color: #fff;
  background: url('./picture/side-list-icon.png') -500px -500px no-repeat;
}
.smallnav>a>p, .leftbottom>a>p {
  display: inline-block;
  width: 24px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
}
.leftbottom {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
}
.leftbtnout, .leftbtnin {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  width: 15px;
  height: 150px;
  background: url('./picture/side-left-shrink.png') no-repeat;
  cursor: pointer;
}
.leftbtnout {
  display: none;
  left: 50px;
  background-position: 0 -151px;
}
.leftbtnout.active {
  display: block;
}
.leftbtnin {
  display: block;
  left: 244px;
  background-position: 0 0;
}
.leftbtnin.active {
  display: none;
}
.leftbtnout:hover {
  background-position: -22px -151px;
}
.leftbtnin:hover {
  background-position: -22px 0;
}
.leftmenu {
  display: block;
  position: fixed;
  top: 51px;
  left: 0;
  height: 100%;
  width: 244px;
  background: #2c2c2c;
}
.leftmenu.active {
  display: none;
}
.leftmenu>a {
  display: block;
  padding-left: 28px;
  height: 48px;
  width: 210px;
  border-bottom: 1px solid #323232;
  color: #c6c6c6;
  text-decoration: none;
  font-size: 15px;
}
.leftmenu>a:hover {
  background: #f60;
  color: #fff;
}
.leftmenuicon1, .leftmenuicon2, .leftmenuicon3, .leftmenuicon4 {
  display: inline-block;
  margin-right: 18px;
  margin-top: 17px;
  width: 20px;
  height: 20px;
  color: #fff;
  vertical-align: top;
  background: url('./picture/side-list-icon.png') -500px -500px no-repeat;
}
.leftmenu>a>p {
  display: inline-block;
  font-size: 15px;
  color: #c6c6c6;
  line-height: 48px;
}
.lefticon1, .leftmenuicon1 {
  background-position: -31px 0;
}
.lefticon2, .leftmenuicon2 {
  background-position: -31px -26px;
}
.lefticon3, .leftmenuicon3 {
  background-position: -31px -50px;
}
.lefticon4, .leftmenuicon4 {
  background-position: -31px -80px;
}
.lefticon5 {
  background-position: -31px -182px;
}
.leftnav {
  padding-top: 20px;
}
.lefttitlebar {
  margin: 0 auto;
  width: 206px;
  height: 32px;
  border-bottom: 2px solid #f60;
  color: #c6c6c6;
  cursor: pointer;
}
.lefttitlebar>ul>li {
  float: left;
  width: 50%;
  height: 32px;
  border-radius: 2px; 
  color: #fff;
  list-style: none;
}
.lefttitle1 {
  background: #f60;
}
.lefttitle1.active {
  background: #2c2c2c;
}
.lefttitle2.active {
  background: #f60;
}
.lefttitleicon1, .lefttitleicon2 {
  float: left;
  margin: 10px 14px 0 11px;
  width: 20px;
  height: 20px;
  background: url('./picture/side-list-icon.png') -500px -500px no-repeat;
}
.lefttitleicon1 {
  background-position: -31px -107px;
}
.lefttitleicon2 {
  background-position: 0 -131px;
}
.lefttitlebar>ul>li>span {
  float: left;
  line-height: 32px;
  font-size: 15px;
}
.lefttriangle1, .lefttriangle2, .lefttriangle3, .lefttriangle4, .lefttriangle5, .lefttriangle6, .lefttriangle7, .lefttriangle8 {
  float: left;
  margin: 14px 14px 0;
  width: 5px;
  height: 9px;
  background: url('./picture/side-list-triangle.png') no-repeat;
  -webkit-transition: all .3s ease-in-out;
}
.lefttriangle1 {
  -webkit-transform: rotate(90deg);
}
.speciallist {
  border-bottom: 2px solid #f60;
}
.typetitle {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 210px;
  height: 36px;
  border-bottom: 1px solid #323232;
  line-height: 36px;
  font-size: 15px;
}
.typetitle>p {
  display: inline-block;
  padding: 0 6px;
  color: #c6c6c6;
  line-height: 36px;
  font-size: 15px;
  text-decoration: none;
}
.typecontent {
  display: inline-block;
  overflow: hidden;
  padding: 0 2px;
  width: 62px;
  text-overflow: ellipsis;
  background: #3f3f3f;
  line-height: 24px;
  white-space: nowrap; 
  color: #d0d0d0;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.typecontent:hover {
  background: #f60;
  color: #fff;
}
.alltypecontent {
  padding-top: 5px;
  padding-left: 15px;
  overflow: auto;
}
#typecontent1 {
  display: block;
  height: 228px;
}
#typecontent2 {
  display: none;
  height: 28px;
}
#typecontent3 {
  display: none;
  height: 140px;
}
#typecontent4 {
  display: none;
  height: 84px;
}
#typecontent5 {
  display: none;
  height: 112px;
}
#typecontent6 {
  display: none;
  height: 28px;
}
#typecontent7 {
  display: none;
  height: 28px;
}
#typecontent8 {
  display: none;
  height: 56px;
}
#typecontent2.active, #typecontent3.active, #typecontent4.active, #typecontent5.active, #typecontent6.active, #typecontent7.active, #typecontent8.active {
  display: block;
}
.recommend {
  display: none;
  padding: 7px 15px;
}
.recommend.active {
  display: block; 
}
.recommend>a {
  float: left;
  padding: 0 2px;
  margin: 4px 2px 0;
  height: 24px;
  width: 62px;
  line-height: 24px;
  color: #d0d0d0;
  background-color: #3f3f3f;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  opacity: .8;
}
.recommend>a:hover {
  background: #f60;
  color: #fff;
}
.typelist.active {
  display: none;
}
.leftmenubottom {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 17px 17px;
  width: 210px;
  background-color: #2c2c2c;
}
.leftmenubottom>span {
  display: inline-block;
  margin: 12px auto auto 0;
  width: 100%;
  height: 38px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 2px;
  color: #fff;
}
.leftmenubottom>span>a {
  width: 60px;
  line-height: 30px;
}
.livebtn {
  background: #f60;
  cursor: pointer;
}
.liveleftbtn {
  float: left;
  margin: 10px 14px 0 38px;
  width: 31px;
  height: 20px;
  background: url('./picture/side-list-icon.png') 0 -154px no-repeat;
}
.livecontent {
  display: inline-block;
  width: 64px;
  line-height: 38px;
  font-size: 16px;
}
.liverightbtn {    
  display: inline-block;
  margin-left: 3.8%;
  margin-top: 15px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #fff;
  border-bottom: 5px solid transparent;
}
.leftmenubottom>span>a {
  float: left;
  margin: 0 5px;
  color: #c6c6c6;
  line-height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
}
.main {
  overflow: auto;
  padding-left: 270px;
  padding-top: 51px;
  background-color: #f2f2f2;
  min-height: 100%;
}
.main.active {
  padding-left: 70px;
}
.newplayer {
  display: block;
  height: 308px;
}
.newplayertitle {
  display: block;
  margin: 30px 0 0;
  height: 69px;
}
.newplayerhead {
  display: block;
}
.newplayerhead {
  display: inline-block;
  padding-left: 42px;
  height: 37px;
  font-size: 28px;
  color: #575757;
  background: url('./picture/web_ico.png') 0 2% no-repeat;
}
.change {
  display: inline-block;
  padding-left: 23px;
  padding-right: 2px;
  margin-left: 17px;
  margin-top: 11px;
  width: 40px;
  height: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  line-height: 20px;
  background: url('./picture/web_ico.png') -5px 94.8% no-repeat;
  cursor: pointer;
}
.change:hover {
  border: 1px solid #F76300;
  color: #F76300;
  background: url('./picture/icon_hhhover.png') 3px 2px no-repeat;
}
.newplayerborder1 {
  display: block;
  margin-top: 8px;
  width: 32px;
  height: 2px;
  background-color: #fb8302;
}
.newplayerborder2 {
  width: 99.2%;
  height: 1px;
  background-color: #ddd;
}
.newplayerul {
  overflow: hidden;
  height: 239px;
}
.gettouch {
  display: inline-block;
  margin-right: 10px;
  /*height: 235px;
  width: 320px;*/
  border-bottom: 3px solid transparent;
}
.gettouch>a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.gettouch:hover {
  border-bottom-color: #d2d2d2;
}
.playicon {
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background: url('./picture/playIcon.png') no-repeat;
  opacity: 0;
  -webkit-transition: all .2s ease;
}
.imgbox {
  display: block;
  height: 180px;
  width: 100%;
  border: none;
}
.eachone {
  display: block;
  padding: 5px 5px 3px;
  height: 48px;
  width: 310px;
  background-color: #fff;
  font-size: 12px;
}
.roomname {
  float: left;
  width: 70%;
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #313131;
  text-align: left;
}
.roomname:hover {
  color: #f70;
}
.ownertype {
  float: right;
  width: 30%;
  font-size: 12px;
  text-align: right;
  color: #f60;
}
.ownername {
  float: left;
  overflow: auto;
  padding-left: 20px;
  padding-top: 5px;
  height: 20px;
  width: 100%;
  text-decoration: none;
  line-height: 20px;
  font-size: 12px;
  color: #797979;
  background: url('./picture/mem-icos.png') 0 7px no-repeat;
  background-size: 18px;
}
.online {
  display: block;
}
.onlinetitle  {
  padding-top: 25px;
}
.onlinehead {
  float: left;
  margin-right: 17px;
  padding-left: 42px;
  height: 36px;
  color: #575757;
  font-size: 28px;
  background: url('./picture/web_ico.png') 0 25% no-repeat;
}
.onlinetype {
  overflow: auto;
  padding-top: 10px;
  height: 26px;
}
.onlinetype>a {
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 4px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.onlinetype1, .onlinetype2, .onlinetype5 {
  width: 50px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  color: #000;
}
.onlinetype3, .onlinetype6, .onlinetype7, .onlinetype9 {
  width: 78px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  color: #000;
}
.onlinetype4 {
  width: 92px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  color: #000;
}
.onlinetype8 {
  width: 64px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  color: #000;
}
.onlinetype2:hover, .onlinetype3:hover, .onlinetype4:hover, .onlinetype5:hover, .onlinetype6:hover, .onlinetype7:hover, .onlinetype8:hover, .onlinetype9:hover {
  border: 1px solid #F76300;
  color: #f60;
}
.onlinetype1.active, .onlinetype2.active, .onlinetype3.active, .onlinetype4.active, .onlinetype5.active, .onlinetype6.active, .onlinetype7.active, .onlinetype8.active, .onlinetype9.active {
  border: 1px solid #f60;
  background-color: #f60;
  color: #fff;
}
.online>ul {
  padding-top: 25px;
}
.bottombar {
  padding: 20px 0 30px;
  text-align: center;
  font-size: 12px;
}
.lastpage, .nextpage, .page, .jumpto {
  display: inline-block;
  margin: 0 5px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}
.lastpage, .nextpage {
  width: 60px;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  font-size: 12px;
}
.page {
  width: 34px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  color: #7f7f7f;
}
#page1.active, #page2.active, #page3.active, #page4.active, #page5.active, #page6.active, #page7.active, #page8.active, #page9.active {
  border: 1px solid #f70;
  color: #fff;
  background-color: #f70;
}
.lastpage:hover, .nextpage:hover, .page:hover, .jumpto:hover {
  border: 1px solid #f70;
  background-color: #f70;
  color: #fff;
}
.jumptext {
  margin-left: 20px;
  color: #7f7f7f;
  line-height: 28px;
}
.jumppage {
  padding: 0 5px;
  width: 34px;
  height: 26px;
  border: 1px solid #d5d5d5;
  line-height: 26px;
  vertical-align: top;
}
.jumpto {
  width: 34px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  color: #7f7f7f;
}
#dot1 {
  display: none;
}
#dot2 {
  display: none;
}
#dot1.active {
  display: inline-block;
}
#dot2.active {
  display: inline-block;
}
.warning {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 12px;
  height: 20px;
  width: 200px;
  text-align: center;
  font-size: 14px;
  color: #555;
  background-color: #f70;
}
.warning.active {
  display: block;
}
@media only screen and (max-width: 1800px) and (min-width: 1400px) {
  .gettouch { width: 18%; }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .gettouch { width: 23%; }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .gettouch { width: 30%; }
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
  .gettouch { width: 47%; }
}
@media only screen and (max-width: 200px) {
  .gettouch { width: 90%; }
}